<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel="stylesheet" href="/stylesheets/bootstrap.min.css">
    <link rel="stylesheet" href="/stylesheets/style.css">
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-dark" id="top-nav">
      <div class="container">
        <a class="navbar-brand" href="#">ZIDD</a>
        <button
          class="navbar-toggler"
          type="button"
          data-toggle="collapse"
          data-target="#navbarNavAltMarkup"
          aria-controls="navbarNavAltMarkup"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
          <div class="navbar-nav">
            <a class="nav-item nav-link active" href="./">Home</a>
          </div>
        </div>
      </div>
    </nav>
    <div class="download-page-container">
      <div class="download-page-header">
        <h1><%= title %></h1>
        <p>Mehrere Installationsmöglichkeiten für <%= title %></p>
      </div>
      <div class="download-commands">
        <div class="command-block">
          <div class="command-block-header">
            <p>winget - Windows Package Manager</p>
          </div>
          <div class="command-block-body">
            <pre id="dockerCommand">$ winget install -e --id Docker.DockerDesktop</pre>
            <button class="command-copy-btn" onclick="copyCommand(this.previousElementSibling)">Copy</button>
          </div>
        </div>
        <div class="command-block">
          <div class="command-block-header">
            <p>Homebrew - macOS Package Manager</p>
          </div>
          <div class="command-block-body">
            <pre id="brewCommand">$ brew install --cask docker</pre>
            <button class="command-copy-btn" onclick="copyCommand(this.previousElementSibling)">Copy</button>
          </div>
        </div>
      </div>
      <div class="download-button-container">
        <a href="https://docs.docker.com/get-started/get-docker/" class="btn btn-primary">Zu Docker</a>
      </div>
    </div>
  </body>
  <script src="/javascripts/script.js"></script>
</html>
