<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB"
      crossorigin="anonymous"
    />
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <a class="navbar-brand" href="#" style="margin-left: 2%">ZIDD</a>
      <button
        class="navbar-toggler"
        type="button"
        data-toggle="collapse"
        data-target="#navbarNavAltMarkup"
        aria-controls="navbarNavAltMarkup"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
          <a class="nav-item nav-link active" href="#">Home</a>
          <a class="nav-item nav-link" href="#">Features</a>
          <a class="nav-item nav-link" href="#">Pricing</a>
          <a class="nav-item nav-link disabled" href="#">Disabled</a>
        </div>
      </div>
    </nav>
    <div>
      <p>Welcome to <%= title %></p>
    </div>

    <div class="container mt-5">
      <div class="row justify-content-center" style="gap: 2%">
        <div class="card" style="width: 18rem">
          <img
            class="card-img-top"
            src="/images/VSCode.jpg"
            alt="Card image cap"
          />
          <div class="card-body">
            <h5 class="card-title">VS Code</h5>
            <p class="card-text">
              Visual Studio Code (VS Code) ist ein kostenloser, quelloffener und
              plattformübergreifender Code-Editor von Microsoft, der sich durch
              seine leichte Bauweise, Geschwindigkeit und hohe Anpassbarkeit
              auszeichnet
            </p>
            <a href="./vscode" class="btn btn-primary">Download</a>
          </div>
        </div>

        <div class="card" style="width: 18rem">
          <img
            class="card-img-top"
            src="/images/eduvpn.jpg"
            alt="Card image cap"
          />
          <div class="card-body">
            <h5 class="card-title">EduVPN</h5>
            <p class="card-text">
              EduVPN ist ein sicherer VPN-Dienst, der speziell für
              Bildungseinrichtungen entwickelt wurde. Er ermöglicht den sicheren
              Zugriff auf Bildungsressourcen und schützt die Privatsphäre der
              Nutzer.
            </p>
            <a href="#" class="btn btn-primary">Download</a>
          </div>
        </div>

        <div class="card" style="width: 18rem">
          <img
            class="card-img-top"
            src="/images/blank.jpg"
            alt="Card image cap"
          />
          <div class="card-body">
            <h5 class="card-title"></h5>
            <p class="card-text"></p>
            <a href="#" class="btn btn-primary">Download</a>
          </div>
        </div>
      </div>
    </div>
  </body>
  <script
    src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI"
    crossorigin="anonymous"
  ></script>
</html>
