<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel="stylesheet" href="/stylesheets/bootstrap.min.css" />
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-dark" id="top-nav">
      <div class="container">
        <a class="navbar-brand" href="#">ZIDD</a>
        <button
          class="navbar-toggler"
          type="button"
          data-toggle="collapse"
          data-target="#navbarNavAltMarkup"
          aria-controls="navbarNavAltMarkup"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
          <div class="navbar-nav">
          <a class="nav-item nav-link active" href="./">Home</a>
          </div>
        </div>
      </div>
    </nav>

    <div class="container mt-5">
      <div class="row justify-content-center g-4">
        <div class="col-md-6 col-lg-4 col-sm-12">
          <div class="card">
            <img
              class="card-img-top"
              src="/images/VSCode.jpg"
              alt="VS Code"
            />
            <div class="card-body">
              <h5 class="card-title">VS Code</h5>
              <p class="card-text">
                Visual Studio Code (VS Code) ist ein kostenloser, quelloffener und
                plattformübergreifender Code-Editor von Microsoft, der sich durch
                seine leichte Bauweise, Geschwindigkeit und hohe Anpassbarkeit
                auszeichnet
              </p>
              <a href="./vscode" class="btn btn-primary">Download</a>
            </div>
          </div>
        </div>

        <div class="col-md-6 col-lg-4 col-sm-12">
          <div class="card">
            <img
              class="card-img-top"
              src="/images/eduvpn.jpg"
              alt="EduVPN"
            />
            <div class="card-body">
              <h5 class="card-title">EduVPN</h5>
              <p class="card-text">
                EduVPN ist ein sicherer VPN-Dienst, der speziell für
                Bildungseinrichtungen entwickelt wurde. Er ermöglicht den sicheren
                Zugriff auf Bildungsressourcen und schützt die Privatsphäre der
                Nutzer.
              </p>
              <a href="./eduVPN" class="btn btn-primary">Download</a>
            </div>
          </div>
        </div>

        <div class="col-md-6 col-lg-4 col-sm-12">
          <div class="card">
            <img
              class="card-img-top"
              src="/images/docker.jpg"
              alt="Docker"
            />
            <div class="card-body">
              <h5 class="card-title">Docker</h5>
              <p class="card-text">
                Docker ist eine Plattform zur Automatisierung der Bereitstellung
                von Anwendungen in Container-Umgebungen. Es ermöglicht Anwendungen
                in isolierten Containern zu verpacken.
              </p>
              <a href="./docker" class="btn btn-primary">Download</a>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="container mt-5">
      <div class="row justify-content-center g-4">
        <div class="col-md-6 col-lg-4 col-sm-12">
          <div class="card">
            <img
              class="card-img-top"
              src="/images/eclipse.jpeg"
              alt="Eclipse"
            />
            <div class="card-body">
              <h5 class="card-title">Eclipse</h5>
              <p class="card-text">
                Eclipse ist eine integrierte Entwicklungsumgebung (IDE) für Java und andere Programmiersprachen. Sie bietet eine Vielzahl von Tools zur Softwareentwicklung und ist besonders bei Java-Entwicklern beliebt.
              </p>
              <a href="./eclipse" class="btn btn-primary">Download</a>
            </div>
          </div>
        </div>

        <div class="col-md-6 col-lg-4 col-sm-12">
          <div class="card">
            <img
              class="card-img-top"
              src="/images/kubernetes.jpg"
              alt="Kubernetes"
            />
            <div class="card-body">
              <h5 class="card-title">Kubernetes</h5>
              <p class="card-text">
                Kubernetes ist eine Open-Source-Plattform zur Automatisierung der
                Bereitstellung, Skalierung und Verwaltung von containerisierten
                Anwendungen. Es bietet eine leistungsstarke Orchestrierung für
                Container und ermöglicht eine einfache Verwaltung von
                Microservices-Architekturen.
              </p>
              <a href="./kubernetes" class="btn btn-primary">Download</a>
            </div>
          </div>
        </div>

        <div class="col-md-6 col-lg-4 col-sm-12">
          <div class="card">
            <img
              class="card-img-top"
              src="/images/moodle.jpg"
              alt="Moodle"
            />
            <div class="card-body">
              <h5 class="card-title">Moodle</h5>
              <p class="card-text">
                Moodle ist eine Open-Source-Lernplattform, die speziell für
                Bildungseinrichtungen entwickelt wurde. Sie ermöglicht die
                Erstellung von Online-Kursen und bietet eine Vielzahl von
                Funktionen zur Unterstützung des Lernens.
              </p>
              <a href="./moodle" class="btn btn-primary">Download</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
  <script
    src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI"
    crossorigin="anonymous"
  ></script>
</html>
