apiVersion: apps/v1
kind: Deployment
metadata:
  name: webserver
  namespace: cloudserv7-apps
spec:
  replicas: 1
  selector:
    matchLabels:
      app: webserver
  template:
    metadata:
      labels:
        app: webserver
    spec:
      containers:
        - name: webserver
          image: cloudserv7/webserver:1.0.0
          ports:
            - containerPort: 3000
